* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  .containerMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #ffffffd9;

    .logo {
      width: 90px;
      height: 90px;
    }
    .menuBox {
      display: flex;
      gap: 40px;
      justify-content: space-between;
      margin-bottom: 0;
      position: relative;
      li {
        display: block;
        cursor: pointer;
        padding: 0.9rem 1.2rem;
        border-radius: 5px;
        // &:hover {
        //   background-color: #3a3838;
        //   a {
        //     color: #ffffff;
        //   }
        // }
        a {
          text-decoration: none;
          font-size: 20px;
          font-family: MuseoSans, Arial, Verdana, sans-serif;
          letter-spacing: 0.5px;
          font-weight: 500;
          list-style: none;
          color: #000;
        }
      }
      .parentMenu {
        position: relative;
        .dropdown {
          position: absolute;
          top: 58px;
          right: -12%;
          width: 120px;
          padding: .6rem 0rem;
          background-color: #fffffffe;
          border-radius: 8px;
          z-index: 2;
          text-align: center;
          display: none;

          &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            background-color: #ffffff;
            left: 50%;
            top: -5px;
            transform: rotate(45deg);
            z-index: -1;
            display: block;
          }
          li {
            // padding: 0.6rem 1rem;
            border-radius: 5px;
            width: 100%;
            a {
              color: #000;
            }
            &:hover {
              background-color: #3a3838;
              a {
                color: #ffffff;
              }
            }
          }
        }
        &:hover {
          .dropdown {
            display: block;
          }
        }
        // .subDropdown {
        //   padding-bottom: 11rem;
        // }
      }
    }
    .navbarLogin {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        text-decoration: none;
        font-weight: 400;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        line-height: 28px;
        font-size: 16px;
      }
    }

    .navbarSmallscreen {
      display: none;
      .navbarSmallscreenOverlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rebeccapurple;
        transition: 0.5s ease;
        flex-direction: column;
        z-index: 5;
      }
      .overClose {
        font-size: 27px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
      }
      .menuBoxSmallscreen {
        list-style: none;
        li {
          margin: 2rem;
          cursor: pointer;
          font-size: 2rem;
          text-align: center;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
